@import url("https://fonts.googleapis.com/css?family=PT+Serif");

* {
	box-sizing: border-box;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

body {
	font-family: "PT Serif", sans-serif;
	background-color: #f2f2f2;
}

/************* HEADER *************/

.header {
	display: flex;
	width: 100%;
	background-color: rgb(6, 170, 235);
	align-items: center;
	color: white;
}

.logo {
	font-size: 2rem;
	margin-left: 20px;
	color: white;
}

.nav-bar {
	margin-left: auto;
	padding: 20px;
}

.menu {
	display: flex;
	list-style: none;
}

.menu-item {
	padding-right: 10px;
}

/******** MAIN *********/

.main {
	display: grid;
	grid-template-columns: 300px 2fr;
	grid-template-rows: 300px auto auto;
	grid-gap: 20px;
	padding-top: 20px;
	margin: 0 25%;
}

/******** PROFILE INFO COMPONENT *********/

.profile-info {
	width: 100%;
	background-color: white;
	color: rgb(6, 170, 235);
	/* background-color: gray; */
}

.profile-cover > img {
	width: 300px;
	height: 127px;
}

.feed {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row: 1 / span 2;
	justify-self: center;
}

.profile-avatar {
	position: relative;
	left: 10px;
	bottom: 70px;
	border-radius: 50%;
}

.profile-info > p {
	color: #69d2fc;
	padding-bottom: 10px;
}

.user-info {
	position: relative;
	bottom: 50px;
	padding-left: 10px;
}

.user-info > p {
	margin-bottom: 10px;
}

.fa-map-marker-alt {
	margin-right: 5px;
}

/******** POST COMPONENT *********/

.container {
	display: flex;
	padding: 10px;
	background-color: white;
	margin-top: 5px;
	width: 100%;
	align-self: center;
}

.post-header {
	display: flex;
	width: 100%;
	margin-bottom: 10px;
}
.avatar {
	max-width: 50px;
	border-radius: 50%;
}

.author {
	font-size: 1rem;
	font-weight: bold;
}

.profile-name,
.date {
	color: #bfbfbf;
	margin-left: 8px;
	font-size: 0.9rem;
}

.post {
	display: flex;
	flex-direction: column;
	margin-left: 10px;

	width: 85%;
	padding-bottom: 30px;
}

.fa-angle-down {
	margin-left: auto;
	color: #4d4d4d;
}

.post-image {
	max-width: 100%;
	border-radius: 5px;
	margin-top: 10px;
}

.image-footer {
	border: 1px solid #bfbfbf;
	margin-top: -7px;
	border-radius: 5px;
}

.image-footer > p,
h4 {
	margin-left: 10px;
}

.image-footer > p {
	margin-bottom: 10px;
}

.image-footer > h4 {
	margin-top: 10px;
	margin-bottom: 7px;
}

.link {
	margin-left: 10px;
	font-size: 0.9rem;
	color: #bfbfbf;
}

/******** FEED *********/

.feed {
	width: 600px;
}

.text-box {
	background-color: #b4e9fd;
	padding: 15px;
	width: 100%;
}

.textarea-style {
	align-self: center;
	border: none;
	padding: 10px;
	position: relative;
	left: 95px;
	resize: none;
	border-radius: 15px;
	box-shadow: 2px 2px 5px 2px rgb(6, 170, 235);
}
